{% extends "main.html" %}

{% block slider %}
    <div id="myCarousel" class="carousel slide carousel-fade" data-ride="carousel">
      <div class="carousel-inner">

<!-- slider item no.1 - unique and hardcoded in HTML below. Just keep the oryginal div's structure. -->
    <div class="carousel-item active">

          <div class="mask flex-center">
            <div class="container">
              <div class="row align-items-center">
                <div class="col-md-7 col-12 order-md-1 order-2">
                  <h4> <br>~whois -v Jan Mejor</h4>
                  <p>[{% now "j/N/Y H:i:s" %}] GET website/Jan_Mejor/portfolio 200 9751</p>
                  <p>[{% now "j/N/Y H:i:s" %}]</p>
                  <a href="#">LINK</a> </div>
                <div class="col-md-5 col-12 order-md-2 order-1"><img src="http://127.0.0.1:8000/photo_folder/6axE29k.jpg" class="mx-auto" alt="slide"></div>
              </div>
            </div>
          </div>
        </div>
<!-- slider items from admin panel. Unlimited amount -->
{%for slider in sliders %}
<div class="carousel-item">

      <div class="mask flex-center">
        <div class="container">
          <div class="row align-items-center">
            <div class="col-md-7 col-12 order-md-1 order-2">
              <h4>{{ slider.name }}</h4>
              <p>[{% now "j/N/Y H:i:s" %}] {{ slider.lead }}</p>
              <a href="{{ slider.link }}">LINK</a> </div>
            <div class="col-md-5 col-12 order-md-2 order-1"><img src="{{ slider.photo.url }}" class="mx-auto" alt="slide"></div>
          </div>
        </div>
      </div>
    </div>
  {% endfor %}


      </div>
      <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev"> <span class="carousel-control-prev-icon" aria-hidden="true"></span> <span class="sr-only">Previous</span> </a> <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next"> <span class="carousel-control-next-icon" aria-hidden="true"></span> <span class="sr-only">Next</span> </a>
    </div>


{% endblock %}
